@model ECOMMERCEWebApp.Data.Entities.Product

@{
    ViewData["Title"] = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ProductDetails</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtDating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtDating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtistBirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtistBirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtistDeathDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtistDeathDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtistNationality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtistNationality)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
