@model ProductViewMode

@{
    ViewData["Title"] = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container">
    <h4>Product Details</h4>
    <hr />
    <a style="float: right; " class="btn btn-success" asp-controller="Home" asp-action="AddToCart" asp-route-prodId="@Model.Product.Id" >Add To Cart</a>
    
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ArtDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ArtDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ArtDating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ArtDating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ArtId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ArtId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Artist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Artist)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ArtistBirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ArtistBirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ArtistDeathDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ArtistDeathDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ArtistNationality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ArtistNationality)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

<hr />

<div class="row">
    @foreach (var prod in Model.ProductswithSameCategory)
    {
        <div class="col-md-3" style=" border: 2px solid">

            <div style="border-bottom: 1px solid medium">
                <h4 class="font-weight-bold"> @prod.Title </h4>
            </div>
            <img class="img-fluid" src="~/img/@(prod.ArtId).jpg" />

            <h4 class="font-weight-bold"> @prod.Category </h4>
            <h6 class="mb-2 text-muted">Description: @prod.ArtDescription</h6>
            <h6 class="mb-2 text-muted">size: @prod.Size</h6>
            <h6 class="mb-2 text-muted">ArtistName @prod.Artist</h6>
            <h3 class="font-weight-bold">Price: @prod.Price </h3>

            <a style="margin:5px;" class="btn btn-outline-info" asp-controller="Home" asp-action="ProductDetails" asp-route-id="@prod.Id">ShowMore</a>
            <a style="margin:5px;" class="btn btn-outline-info" asp-controller="Home" asp-action="AddToCart" asp-route-prodId="@prod.Id">AddTOCart</a>
            

        </div>
    }
</div>




